.metadata/
target/
*.class
*.log
*.jar
node_modules/
.env
.idea/
.vscode/
*.zip
logs/
~$*
*_output.txt
test_output.txt
compile_errors.txt
sonar_log.txt
*.pptx
report.html
report.pdf

compile_out.txt
output.txt
test_out.txt